.idea
target
out
resources
.DS_Store
blockchain-node.iml
blockchain-node/dependency-reduced-pom.xml
blockchain-client/dependency-reduced-pom.xml
run-configs/blockchain-node-1/blockchain
run-configs/blockchain-node-1/config.properties